<turbo-stream action="replace" target="task_<%= @task.id %>">
  <template>
    <div id="task_<%= @task.id %>" data-controller="tasks">
      <%= form_with model: [@project, @task], data: { turbo_frame: "task_frame_#{task.id}" } do |f| %>
        <%= f.check_box :completed, class: 'styled-checkbox' %>
        <%= f.text_field :title, value:"Cambiado", data: { target: "task.title", action: "click->task#save" } %>
        <%= link_to 'Editar', edit_project_task_path(@project, @task), remote: true, data: { turbo_frame: "task_frame_#{task.id}" } %>
      <% end %>
    </div>
  </template>
</turbo-stream>