<%= link_to root_path, class: "home-link" do %>
  <i class="fas fa-arrow-left"></i> Volver
<% end %>
<h1>Nuevo Proyecto</h1>

<%= form_with model: @project, url: create_project_path, remote: true  do |f| %>
   
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>

    <%= f.submit 'Guardar', disable_with: 'Enviando...' %>
<% end %>

