<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    
    
    <div class="main-container">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, class: "log-out-link",data: { confirm: '¿Estás seguro?', turbo_method: "delete" } do %>
          <i class="fa-fa-trash"></i> Cerrar Sesión
        <% end %>
      <% end %>
      <div id="flash_messages">
        <% flash.each do |key, value| %>
          <div class="<%= key %> alert">
            <%= value %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
