<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: { confirm: '¿Estás seguro?', turbo_method: "delete" } do %>
        <i class="fa-fa-trash"></i> Salir
      <% end %>
    <% end %>
    
    <div class="main-container">
      <% flash.each do |key, value| %>
        <% if key.to_s == "notice" %>
          <div class="<%= key.to_s %> alert"><%= value %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
